.headingStyle{
    height: 350px;
    background-image: url(../../../images/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
}
.formStyle{
    height: 400px;
    background: #F4F4F4;
}
.btnStyle{
    background-color: #275A53;
    color: white;
}
