.house-card{
    margin-bottom: 25px;
}
.house-card{
    height: 400px;
    background-color: white;
}
.details-btn{
    width: 140px;
    height: 50px;
    background-color: #275A53;
    color: white;
    border: 0;
}

